body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 95%);
}
.card img {
  margin-top: 20px;
  padding-left: 15px;
}
.card {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}
.card .orange {
  border-radius: 5px 0px 0px 5px;
  padding: 20px;
  background-color: hsl(31, 77%, 52%);
  font-size: 15px;
  width: 230px;
  height: 400px;
}
.card .blue {
  padding: 20px;
  background-color: hsl(184, 100%, 22%);
  font-size: 15px;
  width: 230px;
  height: 400px;
}
.card .green {
  border-radius: 0px 5px 5px 0px;
  padding: 20px;
  background-color: hsl(179, 100%, 13%);
  font-size: 15px;
  width: 230px;
  height: 400px;
}
.card h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-size: 35px;
  padding-left: 15px;
}
.card p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-size: 13px;
  padding-left: 15px;
}
.card .button-orange {
  padding-left: 15px;
}
.card .button-blue {
  padding-left: 15px;
}
.card .button-green {
  padding-left: 15px;
}
.card .button-orange .button {
  color: hsl(31, 77%, 52%);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 72px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  height: 38px;
  width: 115px;
}
.card .button-blue .button {
  color: hsl(184, 100%, 22%);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 72px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  height: 38px;
  width: 115px;
}
.card .button-green .button {
  color: hsl(179, 100%, 13%);
  font-family: "Lexend Deca", sans-serif;
  margin-top: 72px;
  border-radius: 30px;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(0, 0%, 95%);
  height: 38px;
  width: 115px;
}
.card .button:hover {
  cursor: pointer;
  background-color: transparent;
  color: white;
}
@media (max-width: 768px) {
  .card {
    display: flex;
    margin-top: 22px;
    width: 740px;
    margin-left: 14px;
  }
  .card .orange {
    border-radius: 5px 0px 0px 5px;
  }

  .card .green {
    border-radius: 0px 5px 5px 0px;
  }
}
@media (max-width: 425px) {
  .card {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    width: 300px;
    margin-left: 77px;
    margin-bottom: 10px;
  }
  .card .orange {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -36px;
    height: 400px
  }
  .card .blue {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -36px;
    height: 400px
  }
  .card .green {
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -36px;
    height: 400px
  }
  .card img{
    margin-top: 20px;
    padding-left: 35px;
    width: 90px;
  }
  .card h1 {
    font-size: 30px;
    padding-left: 35px;
  }
  .card p {
    padding-left: 35px;
    font-size: 15px;
  }
  .card .button-orange {
    padding-left: 35px;
  }
  .card .button-blue {
    padding-left: 35px;
  }
  .card .button-green {
    padding-left: 35px;
  }
}
@media (max-width: 375px) {
  .card {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    width: 300px;
    margin-left: 54px;
    margin-bottom: 25px;
  }
  .card .orange {
    border-radius: 10px 10px 0px 0px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -36px;
    height: 400px;
  }

  .card .green {
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -36px;
  }
  .card .blue{
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-left: -36px;
  }
  .card img{
    margin-top: 20px;
    padding-left: 35px;
    width: 70px;
  }
  .card h1 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
    font-size: 35px;
    padding-left: 35px;
  }
  .card p {
    padding-left: 35px;
  }
  .card .button-orange {
    padding-left: 35px;
  }
  .card .button-blue {
    padding-left: 35px;
  }
  .card .button-green {
    padding-left: 35px;
  }

}

@media (max-width: 320px) {
  .card {
    display: flex;
    flex-direction: column;
    margin-top: 22px;
    width: 300px;
    margin-left: 35px;
    margin-bottom: 35px;
  }
  .card .orange {
    border-radius: 10px 10px 0px 0px;
    background-color: hsl(31, 77%, 52%);
    width: 265px;
    margin-left: -24px;
  }
  .card .blue {
    background-color: hsl(184, 100%, 22%);
    width: 265px;
    margin-left: -24px;
  }
  .card .green {
    border-radius: 0px 0px 10px 10px;
    background-color: hsl(179, 100%, 13%);
    width: 265px;
    margin-left: -24px;
  }
}
